.header {
  background: white;
  margin-bottom: 20px;
}

.header__title {
  padding: 3px 3px;
  font-weight: bold;
}

.header__link:link,
.header__link:visited {
  background-color: darkgray;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border-color: transparent;
}

.header__link:focus {
  border-color: transparent;
  outline: none !important;
  outline-offset: none !important;
}

.header__link:hover,
.header__link:active {
  background-color: firebrick;
}
