html {
  font-size: 80%;
}

body {
  font-family: Consolas, Helvetica sans-serif;
  font-size: $m-size;
}

h1 {
  font-size: 2.2em;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  background: black !important;
}
